<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/output.css" />
    <script src="../src/js/header.js"></script>
    <script src="../../src/js/index.js"></script>
    <script src="../../src/js/handdlesellerview.js"></script>
    <script src="../../src/js/cart.js"></script>
  </head>
  <body>
    <header>
      <div class="w-full mx-auto py-6 px-12 relative">
        <div class="flex items-center justify-between px-3 relative">
          <div id="iconname" class="text-2xl flex items-end">
            <a
              href="./myaccount.html"
              class="cursor-pointer transition-all duration-150 text-2xl"
            >
              <svg
                class="h-6 w-6 text-blue-400"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="12" cy="7" r="4" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              </svg>
            </a>
            <div class="text-slate-800 text-sm"></div>
          </div>

          <div
            id="minimenu"
            class="bg-blue-400 absolute z-50 p-2 top-14 w-40 -left-2 rounded-md text-sm text-white flex-col hidden"
          >
            <div
              class="mx-auto h-0 w-0 border-r-[8px] border-b-[16px] border-l-[8px] border-solid border-r-transparent border-l-transparent border-b-blue-400 -translate-y-6 -translate-x-12 -mb-4"
            ></div>
            <a href="#">My Account</a>
            <a href="">Logout</a>
          </div>
          <a
            href="welcome.html"
            class="flex items-center flex-wrap rounded-lg shadow-md p-2 max-w-max text-purple-950 -translate-x-8"
          >
            <div class="text-3xl">💱</div>
            <div class="font-semibold">Bapukpedia</div>
          </a>
          <button
            id="cartbutton"
            class="hover:scale-110 transition-all duration-100 cursor-pointer"
          >
            <svg
              class="h-8 w-8 text-blue-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
          </button>
        </div>
        <!-- Cart -->
        <div
          class="fixed inset-0 z-10 bg-opacity-75 transition-opacity hidden"
        ></div>
        <!-- Confirm shop to cart -->
        <div
          id="concart"
          class="hidden h-2/3 w-2/5 bg-white shadow-lg rounded-sm z-50 left-96 top-40 translate-x-5 p-2 duration-500 transition-all"
        >
          <div class="flex gap-x-3 relative">
            <div class="ml-3 flex h-7 items-center absolute z-50 right-1 top-1">
              <button
                id="closebutton1"
                type="button"
                class="relative -m-2 p-2 text-gray-400 hover:text-gray-500"
              >
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Close panel</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div
              class="flex h-64 w-[500px] bg-cover shadow-md"
              style="background-image: url('{media.image.url}')"
            ></div>
            <div class="font-semibold">
              <div class="font-bold text-lg mb-3">
                <div>Product Name</div>
                <div>Locale</div>
              </div>
              <div>RP 120.000 <br /><span>Stock : 100</span></div>
              <div class="shadow-md pb-3 pl-2">
                <div class="font-semibold mt-5 mb-1">Color</div>
                <div class="flex flex-wrap gap-2">
                  <div
                    class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white"
                  >
                    biru
                  </div>
                  <div
                    class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white"
                  >
                    biru
                  </div>
                  <div
                    class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white"
                  >
                    biru
                  </div>
                  <div
                    class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white"
                  >
                    biru
                  </div>
                  <div
                    class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white"
                  >
                    biru
                  </div>
                  <div
                    class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white"
                  >
                    biru
                  </div>
                  <div
                    class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white"
                  >
                    biru
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-12">
            <div class="flex justify-between px-2 mb-2 pr-1">
              <div>Quantity</div>
              <div>
                <input type="number" class="w-10 pl-1 py-1" value="1" min="1" />
              </div>
            </div>
            <div
              class="bg-blue-500 text-white font-bold w-full rounded-md py-2 text-center cursor-pointer"
            >
              Add to Cart
            </div>
          </div>
        </div>

        <div
          id="cart"
          class="fixed top-0 right-0 w-2/5 z-20 hidden opacity-25 overflow-hidden transition-all duration-300"
        >
          <div class="absolute inset-0 overflow-hidden">
            <div
              class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
            >
              <div class="pointer-events-auto w-screen max-w-md">
                <div
                  class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl"
                >
                  <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                    <div class="flex items-start justify-between">
                      <h2
                        class="text-lg font-medium text-gray-900"
                        id="slide-over-title"
                      >
                        Shopping cart
                      </h2>
                      <div class="ml-3 flex h-7 items-center">
                        <button
                          type="button"
                          class="relative -m-2 p-2 text-gray-400 hover:text-gray-500"
                        >
                          <span
                            id="closebutton"
                            class="absolute -inset-0.5"
                          ></span>
                          <span class="sr-only">Close panel</span>
                          <svg
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="mt-8">
                      <div class="flow-root">
                        <ul role="list" class="-my-6 divide-y divide-gray-200">
                          <li class="flex py-6">
                            <div
                              class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200"
                            >
                              <img
                                src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-01.jpg"
                                alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                                class="h-full w-full object-cover object-center"
                              />
                            </div>

                            <div class="ml-4 flex flex-1 flex-col">
                              <div>
                                <div
                                  class="flex justify-between text-base font-medium text-gray-900"
                                >
                                  <h3>
                                    <a href="#">Throwback Hip Bag</a>
                                  </h3>
                                  <p class="ml-4">$90.00</p>
                                </div>
                                <p class="mt-1 text-sm text-gray-500">Salmon</p>
                              </div>
                              <div
                                class="flex flex-1 items-end justify-between text-sm"
                              >
                                <p class="text-gray-500">Qty 1</p>

                                <div class="flex">
                                  <button
                                    type="button"
                                    class="font-medium text-indigo-600 hover:text-indigo-500"
                                  >
                                    Remove
                                  </button>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="flex py-6">
                            <div
                              class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200"
                            >
                              <img
                                src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-02.jpg"
                                alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch."
                                class="h-full w-full object-cover object-center"
                              />
                            </div>

                            <div class="ml-4 flex flex-1 flex-col">
                              <div>
                                <div
                                  class="flex justify-between text-base font-medium text-gray-900"
                                >
                                  <h3>
                                    <a href="#">Medium Stuff Satchel</a>
                                  </h3>
                                  <p class="ml-4">$32.00</p>
                                </div>
                                <p class="mt-1 text-sm text-gray-500">Blue</p>
                              </div>
                              <div
                                class="flex flex-1 items-end justify-between text-sm"
                              >
                                <p class="text-gray-500">Qty 1</p>

                                <div class="flex">
                                  <button
                                    type="button"
                                    class="font-medium text-indigo-600 hover:text-indigo-500"
                                  >
                                    Remove
                                  </button>
                                </div>
                              </div>
                            </div>
                          </li>

                          <!-- More products... -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                    <div
                      class="flex justify-between text-base font-medium text-gray-900"
                    >
                      <p>Subtotal</p>
                      <p>$262.00</p>
                    </div>
                    <p class="mt-0.5 text-sm text-gray-500">
                      Shipping and taxes calculated at checkout.
                    </p>
                    <div class="mt-6">
                      <a
                        href="#"
                        class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
                        >Checkout</a
                      >
                    </div>
                    <div
                      class="mt-6 flex justify-center text-center text-sm text-gray-500"
                    >
                      <p>
                        or
                        <button
                          type="button"
                          class="font-medium text-indigo-600 hover:text-indigo-500"
                        >
                          Continue Shopping
                          <span aria-hidden="true"> &rarr;</span>
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <nav class="flex justify-center items-center mt-8 mb-4">
          <div class="flex flex-row gap-x-3">
            <div>
              <a
                class="text-gray-600 hover:underline sm:mx-3 sm:mt-0"
                href="./index.html"
                >Home</a
              >
            </div>
            <div>
              <a class="text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#"
                >Shop</a
              >
            </div>
            <div>
              <a class="text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#"
                >Categories</a
              >
            </div>
            <div>
              <a class="text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#"
                >Contact</a
              >
            </div>
            <div>
              <a
                class="text-gray-600 hover:underline sm:mx-3 sm:mt-0"
                href="#/seller"
                >Seller</a
              >
            </div>
            <div>
              <a
                class="text-gray-600 hover:underline sm:mx-3 sm:mt-0"
                href="../auth/login.html"
                >Login</a
              >
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="w-full px-4 py-2" id="mainbase">
      <div class="container mx-auto px-6">
        <div class="relative mb-3 max-w-lg mx-auto">
          <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
            <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
              <path
                d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>

          <input
            class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-blue-500 focus:outline-none focus:shadow-outline"
            type="text"
            placeholder="Search"
          />
        </div>
        <div
          class="h-64 transition duration-200 transform rounded-md overflow-hidden bg-cover bg-center"
          style="
            background-image: url('https://images.unsplash.com/photo-1649771543037-916e2702008a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1484&q=80');
          "
        >
          <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
            <div class="px-10 max-w-xl">
              <h2 class="text-2xl text-white font-semibold">Sport</h2>
              <p class="mt-2 text-gray-400">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Tempore facere provident molestias ipsam sint voluptatum
                pariatur.
              </p>
              <button
                class="flex items-center mt-4 px-3 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
              >
                <span>Shop Now</span>
                <svg
                  class="h-5 w-5 mx-2"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="md:flex mt-8 md:-mx-4">
          <div
            class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2"
            style="
              background-image: url('https://images.unsplash.com/photo-1547949003-9792a18a2601?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
            "
          >
            <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
              <div class="px-10 max-w-xl">
                <h2 class="text-2xl text-white font-semibold">Back Pack</h2>
                <p class="mt-2 text-gray-400">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Tempore facere provident molestias ipsam sint voluptatum
                  pariatur.
                </p>
                <button
                  class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none"
                >
                  <span>Shop Now</span>
                  <svg
                    class="h-5 w-5 mx-2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div
            class="w-full h-64 mt-8 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/2"
            style="
              background-image: url('https://images.unsplash.com/photo-1486401899868-0e435ed85128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
            "
          >
            <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
              <div class="px-10 max-w-xl">
                <h2 class="text-2xl text-white font-semibold">Games</h2>
                <p class="mt-2 text-gray-400">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Tempore facere provident molestias ipsam sint voluptatum
                  pariatur.
                </p>
                <button
                  class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none"
                >
                  <span>Shop Now</span>
                  <svg
                    class="h-5 w-5 mx-2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- CATEGORY HOME PAGE -->
        <div class="mt-16">
          <div id="pointup" class="text-gray-600 text-2xl font-medium mb-20">
            Fashions
          </div>
          <div
            id="fashionup"
            class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6 transition duration-500 transform"
          ></div>
        </div>
      </div>
    </main>

    <footer class="bg-white shadow mt-10">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="flex items-center justify-center">
          <div
            class="pl-14 flex items-center flex-wrap bg-blue-00 rounded-lg p-2 max-w-max text-purple-950 -translate-x-8"
          >
            <div class="text-2xl">💱</div>
            <div class="font-semibold text-sm">Bapukpedia</div>
          </div>
        </div>
        <hr class="border-gray-200 sm:mx-auto dark:border-gray-700 my-2" />
        <span class="block text-sm text-center text-purple-950"
          >© 2023
          <a href="https://flowbite.com/" class="hover:underline">Bapukpedia™</a
          >. All Rights Reserved.</span
        >
      </div>
    </footer>
  </body>
</html>
