<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyAccount</title>
    <link rel="stylesheet" href="../../dist/output.css" />
    <script src="../../src/js/handdlemyaccount.js"></script>
  </head>
  <body>
    <div class="w-full justify-center items-center flex relative">
      <div class="container flex flex-row shadow-xl">
        <div class="w-[25%] bg-gray-100 h-screen p-5">
          <div class="flex flex-row gap-x-2 items-center mb-10">
            <div class="w-14 h-14 rounded-full object-cover overflow-hidden">
              <img src="../../src/img/noprofile.png" alt="" />
            </div>
            <div class="text-sm">
              <div>Name</div>
              <div>username</div>
            </div>
          </div>
          <div class="flex flex-col gap-y-2">
            <div
              class="hover:bg-blue-500 hover:text-white font-bold pl-2 py-1 rounded-sm"
            >
              <a href="#/">Profile</a>
            </div>
            <div
              class="hover:bg-blue-500 hover:text-white font-bold pl-2 py-1 rounded-sm"
            >
              Alamat
            </div>
            <div
              class="hover:bg-blue-500 hover:text-white font-bold pl-2 py-1 rounded-sm"
            >
              Ubah Password
            </div>
            <div
              class="hover:bg-blue-500 hover:text-white font-bold pl-2 py-1 rounded-sm"
            >
              Pesanan Saya
            </div>
            <div
              class="hover:bg-blue-500 hover:text-white font-bold pl-2 py-1 rounded-sm"
            >
              <a href="#/activateseller">Activate Seller Account</a>
            </div>
            <div
              class="hover:bg-blue-500 hover:text-white font-bold pl-2 py-1 rounded-sm"
            >
              <a href="#/activateseller"> Logout</a>
            </div>
          </div>
        </div>
        <div class="w-[80%] bg-white h-screen pl-2 flex" id="basetemp"></div>
      </div>
    </div>
  </body>
</html>
